<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.credit_card">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalVariable"
        android:allowBackup="true"
        android:icon="@drawable/craditcard_icon"
        android:label="卡卡神探"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserSuveyOne"/>
        <activity android:name=".fake_data" />
        <activity android:name=".Info" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>